<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css"></link>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <title>webapp</title>
    <style>
    form {
      width:95%;
      text-align:right;
      margin-top:10px;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    </style>
    <script type="text/javascript" class="init">
      $(document).ready( function () {
        $('#container_table').DataTable();
      });
     
        $(document).on('submit', '#retrieve_form', function(e)  {
          e.preventDefault();
        
                  
          var current_ship_number = $('#cVesselNumber').val();
          var current_badge_number = $('#cBadgeNumber').val();
          var crane_number = $('#craneNumber').val();
          var begin_date = $('#dateBeginning').val();
          var end_date = $('#dateEnd').val();

          $.ajax ({
            url: '/containers/retrieve',
            data: { 'current_ship_number' : current_ship_number, 'current_badge_number': current_badge_number, 'crane_number': crane_number, 'begin_date' : begin_date, 'end_date' : end_date},
            type: "POST",
            success: function (response) {
              $("#container_table").html(response);
              $('#container_table').DataTable({ 
                      "destroy": true, //use for reinitialize datatable
                   });
            }
          })
            .done(function () {
              //$( "#container_table" ).load( "show.html #container_table" );
              //alert("done!");
            });
        });


        $(document).on('submit', '#edit_form', function(e)  {
          e.preventDefault();
        

          var current_ship_number = $('#cVesselNumber').val();
          var current_badge_number = $('#cBadgeNumber').val();
          var new_badge_number = $('#nBadgeNumber').val();
          var new_ship_number = $('#nVesselNumber').val();
          var crane_number = $('#craneNumber').val();
          var begin_date = $('#dateBeginning').val();
          var end_date = $('#dateEnd').val();

          $.ajax ({
            url: '/containers/edit',
            data: { 'current_ship_number' : current_ship_number, 'current_badge_number': current_badge_number, 'new_ship_number': new_ship_number, 'new_badge_number': new_badge_number, 'crane_number': crane_number, 'begin_date' : begin_date, 'end_date' : end_date},
            type: "POST",
            success: function(response) {
              $("#container_table").html(response[0]);
              alert("Number of updated entries: " + response[1]);
              $('#container_table').DataTable({ 
                      "destroy": true, //use for reinitialize datatable
                   });
            }
          })
            .done(function () {
              //$( "#container_table" ).load( "show.html #container_table" );

            });
        });

    </script>
  </head>

  <body style="background-color:rgb(107, 196, 252)">
    <div class="row">
      <div class="col-md-4">
        <form id="retrieve_form" action="/containers/retrieve" method="GET">
          <label for="cVesselNumber">Current Vessel Number</label>
          <input type="text" id="cVesselNumber" name="cVesselNumber"><br></br></input>
 
          <label for="cBadgeNumber">Current Badge Number</label>
          <input type="text" id="cBadgeNumber" name="cBadgeNumber"><br></br></input>

          <label for="craneNumber">Crane Number</label>
          <input type="text" id="craneNumber" name="craneNumber"><br></br></input>

          <label for="dates">Date</label>

            <label for="dateBeginning">Beginning</label>
            <input type="text" id="dateBeginning" name="dateBeginning"><br></br></input>

            <label for="dateEnd">End</label>
            <input type="text" id="dateEnd" name="dateEnd"><br></br></input>

          <input type="Submit" value="Show Current Records"><br></br></input>
          <input type="Reset" value="Reset" id="reset"></input>
        </form>
      </div>

      <div class="col-md-4">
        <form id="edit_form" action="/containers/edit" method="POST">
          <label for="nVesselNumber">New Vessel Number</label>
          <input type="text" id="nVesselNumber" name="nVesselNumber"><br></br></input>
 
          <label for="nBadgeNumber">New Badge Number</label>
          <input type="text" id="nBadgeNumber" name="nBadgeNumber"><br></br></input>

          <input type="Submit" value="Update Records"></input>
        </form>
      </div>
    </div>
    

    <table id="container_table">
      <thead>
        <tr>
            <th>Crane Number</th>
            <th>Ship Number</th>
            <th>Badge Number</th>
            <th>Transmitted Datetime</th>
            <th>Driver Shift Number</th>
        </tr>
      </thead>
      <tbody>
        <div id="retrieved" th:if="${containers != null}">
          <tr th:each="container: ${containers}">
              <td th:text="${container.craneNumber}" />
              <td th:text="${container.shipNumber}" />
              <td th:text="${container.badgeNumber}" />
              <td th:text="${container.transmittedDatetime}" />
              <td th:text="${container.driverShiftNumber}" />
          </tr>
        </div>
      </tbody>
    </table>
  </body>
</html>